<!DOCTYPE html>
{%load static %}
<html lang="pt-br">
<head>
  <title>Site Escolar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<style>
  a,form{
    color: black;
    margin-left: 30px;
  }
  a:hover{
    color:lightslategrey;
    text-decoration-line:overline;
  }
  img:hover{
    background-image: url("{% static 'walp.jpg' %}");
    background-position: center;
  }

</style>
<body >
  <div>
    
    <nav class="navbar navbar-expand-sm bg-light  sticky-top " >
      <a id="log" class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'logo_.png' %}" style="width: 15%;">Biblioteca Seth</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'conteudos' %}">Conteudos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Baixar' %}">Como baixar</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashbord' %}">Perfil</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sair'%}">Sair </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'login' %}">Acessar</a>
          </li>
        {% endif %}
         <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
         </form>
      </ul>
    </nav>
  </div>
 
  {% block content %}
  {% endblock %}
</body>
</html>