{% extends 'header.html' %}
{% block content %}
{% load static %}
    <style>
        h1,h2{
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            margin-top: 15px;
            padding: 5px;
            text-decoration:underline;
        }
        p{
            text-align: center;
            font-family:Georgia, 'Times New Roman', Times, serif;
            margin-top: 15px;
            padding: 5px;
        }
     
    </style>
    <div class="container">
        <h1>Faça login para se postar seus conteudos.</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">    
                <label >Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">    
                <label>Senha</label>
                <input type="password" class="form-control" name="senha">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{% url 'cadastrar' %}" class="btn btn-primary">Se cadastre agora</a>
        </form>
    </div>    

{% endblock %}